{
	title: "Best practices for game store pages",
	date: "???? ?? ??",
}
### body ###

NOTE: this is mostly a test page =)

%ol
	%li having a fancy thumbnail
	%li having a demo
	%li if game has a coop, there should be a discounted bundle for a few people
