---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="about — kp2pml30's blog">
	My name is Kira ><> Prokopenko. I completed bachelor's degree at ITMO
	university, and my thesis was focused on language interoperability and it's
	optimization and support in JIT, GC and runtime. I'm also interested in game
	development and visual art. This blog is an outlet for me to talk about my
	research, technological interests, hobbies and ideas.
	<hr class="hr-space" />
	<h2>Donate</h2>
	<ul>
		<li><a href="https://ko-fi.com/r3vdy2b10vv">ko-fi</a></li>
		<li>eth 0x2D50eDE32E32481E06B261E5c9C2224B2A271add</li>
	</ul>

	<hr class="hr-space" />
	<h2>Contacts</h2>

	<ul>
		<li><a href="mailto:kp2pml30@gmail.com">kp2pml30@gmail.com</a></li>
		<li><a href="https://github.com/kp2pml30">github</a></li>
		<li><a href="https://linkedin.com/in/kp2pml30">linkedin</a></li>
		<li>
			<a href="https://stackoverflow.com/users/17500068/kp2pml30"
				>stack overflow</a
			>
		</li>
	</ul>

	<h2>Other media</h2>

	<ul>
		<li><a href="https://discord.gg/TYjNRpFknx">discord server</a></li>
	</ul>

	<hr class="hr-space" />
	<h2>CV</h2>
	<p>NOTE: if I am not looking for a job it may be outdated</p>
	<br />

	<img
		id="cv"
		src="https://github.com/kp2pml30/cv/raw/artifacts/cv.svg"
		alt="cv"
	/>
</BaseLayout>

<style>
	#cv {
		width: 100%;
		filter: invert(1);
	}
</style>
